
body {
  background: url(../imagen/titulo3.jpg);
  background-position: 0px   0px;
  }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'open sans';
}

nav{
  max-width: 710px;
  margin: auto;
  background: #333;
  font-size: 20px;
  margin-top: 50px;
  
}
.menu-horizonal{
  list-style: none;
  display:flex;
  justify-content: space-around;
}
nav >ul{
  list-style: none;
  display: flex;
}

.menu-horizontal > li > a{
  display: block;
  padding: 15px 20px;
  color:white;
  text-decoration: none;
  cursor: pointer;
}
.menu-horizontal > li:hover{
  
  background-color: red;
  
}
.menu-vertical{
  position:absolute;
  display: none;
  list-style: none;
  width:200px;
  background-color: rgba(0,0,0,.5);
}

.menu-horizontal li:hover .menu-vertical{
  display: block;
  
}
.menu-vertical li:hover{
  background-color: black;
}
.menu-vertical li a {
  display: block;
  color:white;
  padding: 15px 15px 15px;
}
.menu-vertical>li>a{
  text-decoration: none;
}
h1{
  padding: 30px;
  text-transform: uppercase;
  color:blue;
  text-align: center;
  font-family: centhury ghotic;
}
nav>ul>li>a:hover{
  transform: scale(1.1);
  background: #0074c7;
  border-radius: 10px;
  
}

H1{

  
}
